*.o
*/.deps
*~
.gdb-history
.tarball-version
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.hin
config.log
config.status
configure
doc/*.info
doc/stamp-vti
doc/version.texi
gnulib-tests/.gitignore
gnulib-tests/test-*
gnulib-tests/uniwidth
idutils-*.tar.bz2
idutils-*.tar.bz2.sig
idutils-*.tar.gz
idutils-*.tar.gz.sig
idutils-*.tar.lzma
idutils-*.tar.lzma.sig
lib/.cvsignore
lib/.gitignore
lib/charset.alias
lib/configmake.h
lib/libgnu.a
lib/stamp-h1
lib/uniwidth
libidu/libidu.a
lisp/elc-stamp
lisp/idutils.elc
m4/.gitignore
po/*.gmo
po/*.po
po/.gitignore
po/.reference
po/LINGUAS
po/Makefile.in
po/Makevars
po/POTFILES
po/coreutils.pot
po/idutils.pot
po/stamp-po
src/fid
src/fnid
src/lid
src/mkid
src/xtokid
testsuite/ID
