*.o
*/.deps
*~
.gdb-history
.tarball-version
.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/Makefile
/Makefile.in
/README-release
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/gnulib-tests/.gitignore
/gnulib-tests/Makefile.in
/gnulib-tests/glthread/
/gnulib-tests/test-*
/gnulib-tests/uniwidth
/idutils-*.tar.xz
/idutils-*.tar.xz.sig
config.h
config.hin
config.log
config.status
configure
doc/*.info
doc/.gitignore
doc/Makefile.in
doc/stamp-vti
doc/version.texi
idutils.spec
lib/.cvsignore
lib/.gitignore
lib/Makefile.in
lib/charset.alias
lib/configmake.h
lib/libgnu.a
lib/stamp-h1
lib/uniwidth
libidu/Makefile.in
libidu/libidu.a
lisp/Makefile.in
lisp/elc-stamp
lisp/idutils.elc
m4/
maint.mk
man/*.1
man/Makefile.in
po/*.gmo
po/*.po
po/.gitignore
po/.reference
po/LINGUAS
po/Makefile.in
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/coreutils.pot
po/en@boldquot.header
po/en@quot.header
po/idutils.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
src/Makefile.in
src/aid
src/eid
src/fid
src/fnid
src/gid
src/lid
src/mkid
src/xtokid
testsuite/ID
testsuite/Makefile.in
